:root{
    --main-color :rgb(37, 39, 37)
}

.categ {
    width: 100%;

    padding: 30px;
}

.bodyy {

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 25px;
        

}
.bodyy a{
    flex: 1;
    width: 100%;
}
.ca {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    background-color:var(--main-color);
    border-radius: 9px;
    transition: 0.3s ease;
   flex-wrap: wrap;
    
   font-family: "Marhey", sans-serif;
}
.ca h3{
    font-size: 25px;
}
.bodyy:hover>.ca:not(:hover) {
    opacity: 0.6;
    filter: blur(1.7);

}
.ca:hover {
    opacity: 1.5;
    transform: scale(1.05);
   
  }

.none {
    display: none !important;
}